<!DOCTYPE html>
<html ng-app='my123App'>
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<script src="123.js"> </script>

</head>
<body>
<div  ng-init="firstName = 'John'; lastName = 'Doe';">
<h1> One-way Binding using ng-bind</h1>
  <strong>First name:</strong> {{firstName}}<br />
  <strong>Last name:</strong> <span ng-bind="lastName"></span><br />
  <br />

<h1> Two-way Binding using ng-model</h1>
  <label>Set the first name: <input type="text" ng-model="firstName"/></label><br />
  <label>Set the last name: <input type="text" ng-model="lastName"/></label>
</div>

<h1> Controller example </h1>
<div ng-controller="my123controller">
    <strong>First name:</strong> {{firstName}}<br />
    <strong>Last name:</strong> <span ng-bind="lastName"></span><br />
    <strong>Full name:</strong> {{getFullName()}}<br />
    <br />
    <label>Set the first name: <input type="text" ng-model="firstName"/></label><br />
    <label>Set the last name: <input type="text" ng-model="lastName"/></label>
  </div>

 <h1> multiple controller </h1>
<div ng-controller="my124controller">
    <strong>First name:</strong> {{firstName}}<br />
    <strong>Middle name:</strong> {{middleName}}<br />
    <strong>Last name:</strong> <span ng-bind="lastName"></span><br />
    <strong>Full name:</strong> {{getFullName1()}}<br />
    <br />
    <label>Set the first name: <input type="text" ng-model="firstName"/></label><br />
    <label>Set the middle name: <input type="text" ng-model="middleName"/></label><br />
    <label>Set the last name: <input type="text" ng-model="lastName"/></label>
  </div>
<h1> Register personal values</h1>
<div ng-controller="my125controller">
<strong> Compnay: </strong>{{myinstance.company}} <br/>
<strong> Address: </strong> {{myinstance.address}}<br/>

</div>

<h1> Service Method of module</h1>
<div ng-controller="my126controller">
<strong> Story: </strong>{{service.fuckit()}} <br/>

</div>
</body>
</html>
