<!DOCTYPE html>
<html ng-app='all-page-home'>
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
 </head>
<body>
<h1> RiViAm</h1>
<div ng-controller="all-page-ctlr1">
<!-- loop1 start -->
<strong>{{Page.name}}</Strong>

<a href=#>like</a>{{Page.like}} <a href=# >dislike</a>{{Page.dislike}}
<!-- loop1 end -->
</div>


</div>
</body>
</html>
