<!DOCTYPE html>
<html ng-app='all-page-home'>
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
</head>
<body>
<h1> RiViAm</h1>
<div>
<strong>The Operation was failed</Strong>

<a href=#>back</a>
</div>
</body>
</html>
